name: first_app
description: First Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  english_words: ^3.1.0
dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  assets:
    - images/image.png
    - images/Hinh-Nen-Zoro-1 (1).jpg
    - images/Hinh-Nen-Zoro-1 (2).jpg
    - images/Hinh-Nen-Zoro-1 (3).jpg
    - images/Hinh-Nen-Zoro-1 (4).jpg
    - images/Hinh-Nen-Zoro-1 (5).jpg
    - images/Hinh-Nen-Zoro-1 (6).jpg
    - images/Hinh-Nen-Zoro-1 (7).jpg
    - images/Hinh-Nen-Zoro-1 (8).jpg
    - images/Hinh-Nen-Zoro-1 (9).jpg
    - images/Hinh-Nen-Zoro-1 (10).jpg
    - images/Hinh-Nen-Zoro-1 (11).jpg
    - images/Hinh-Nen-Zoro-1 (12).jpg
    - images/Hinh-Nen-Zoro-1 (13).jpg
    - images/Hinh-Nen-Zoro-1 (14).jpg
    - images/Hinh-Nen-Zoro-1 (15).jpg
    - images/Hinh-Nen-Zoro-1 (16).jpg
    - images/Hinh-Nen-Zoro-1 (17).jpg
    - images/Hinh-Nen-Zoro-1 (18).jpg
    - images/Hinh-Nen-Zoro-1 (19).jpg
    - images/Hinh-Nen-Zoro-1 (20).jpg
    - images/Hinh-Nen-Zoro-1 (21).jpg
    - images/Hinh-Nen-Zoro-1 (22).jpg
    - images/Hinh-Nen-Zoro-1 (23).jpg
    - images/Hinh-Nen-Zoro-1 (24).jpg
    - images/Hinh-Nen-Zoro-1 (25).jpg
    - images/Hinh-Nen-Zoro-1 (26).jpg
    - images/Hinh-Nen-Zoro-1 (27).jpg
    - images/Hinh-Nen-Zoro-1 (28).jpg
    - images/Hinh-Nen-Zoro-1 (29).jpg
    - images/Hinh-Nen-Zoro-1 (30).jpg
    - images/Hinh-Nen-Zoro-1 (31).jpg
    - images/Hinh-Nen-Zoro-1 (32).jpg
    - images/Hinh-Nen-Zoro-1 (33).jpg
    - images/Hinh-Nen-Zoro-1 (34).jpg
    - images/Hinh-Nen-Zoro-1 (35).jpg
    - images/Hinh-Nen-Zoro-1 (36).jpg
    - images/Hinh-Nen-Zoro-1 (37).jpg
    - images/Hinh-Nen-Zoro-1 (38).jpg
    - images/Hinh-Nen-Zoro-1 (39).jpg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
